@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="goHome()">
        <i class="el-icon-arrow-left"></i>
        零部件采购审批-{{nodeInfo.NodeName}}
    </div>
    <el-collapse v-model="activeNames">
        @*<el-collapse-item v-for="(d,i) in dataList" :name="i+1" :key="i">*@
        <el-form :model="tableInfo" :rules="rules" ref="tableInfo" label-width="80px" class="demo-ruleForm"
                 id="uploadForm" enctype="multipart/form-data" style="margin-top:30px">
            <el-form-item label="标题">
                <el-input v-model="tableInfo.Title" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-form-item label="申请人">
                <el-input v-model="tableInfo.ApplyMan" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-form-item label="申请部门">
                <el-input v-model="tableInfo.Dept" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-form-item label="备注">
                <el-input v-model="tableInfo.Remark" :disabled="true" style="width:80%"></el-input>
            </el-form-item>

        </el-form>

        <el-table :data="dataList" border style="width: 100%;margin-bottom:30px">
            <el-table-column prop="CodeNo" label="物料编码"></el-table-column>
            <el-table-column prop="Name" label="物料名称"></el-table-column>
            <el-table-column prop="Standard" label="规格型号"></el-table-column>
            <el-table-column prop="Unit" label="预计单价"></el-table-column>
            <el-table-column label="采购员" v-if="NodeId == 4">
                <template slot-scope="scope">
                    <el-select v-model="scope.row.hello" placeholder="请选择">
                        <el-option v-for="item in options"
                                   :key="item.emplId"
                                   :label="item.name"
                                   :value="item.emplId">
                        </el-option>
                    </el-select>
                </template>
            </el-table-column>
        </el-table>
        @*<el-table-column prop="Price" label="实际单价" v-if="NodeId == 2">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.Price"
                              :class="{ redborder:scope.row.Price == '' || scope.row.Price == null}"></el-input>
                </template>
            </el-table-column>*@

        @*</el-collapse-item>*@
    </el-collapse>

    <el-form :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="true" :nodedata="nodeInfo"></sam-approver-list>
        <template v-if="index==0">
            <el-form-item label="审批意见" prop="mark">
                <el-input v-model="ruleForm.Mark" style="width:400px;"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="onSubmit" :disabled="disablePage">同意</el-button>
                <el-button v-if="nodeInfo.IsBack" type="warning" v-on:click="returnBk" :disabled="disablePage">退回</el-button>
            </el-form-item>
        </template>
        <template v-if="index==2 && state=='未完成'">
            <el-form-item>
                <ding :dinglist="dingList"></ding>
            </el-form-item>
        </template>
    </el-form>
</el-main>

<script>
    var allData = {}
    if (UrlObj.flowid) {
        FlowId = UrlObj.flowid
        NodeId = UrlObj.nodeid
        TaskId = UrlObj.taskid
        Id = UrlObj.id
        var Index = UrlObj.index
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                dataList: [],
                NodeId: NodeId,
                activeNames: [1, 2, 3, 4, 5, 6],
                index: Index,
                nodeList: [],
                nodeInfo: {},
                tableInfo: {},
                codesInfo: {},
                ruleForm: {
                    Mark: ''
                },
                //purchaseMan: []

                options: [],
                emplId: ''
            }
        },
        methods: {
            onSubmit(formName) {
                console.log('submit!')
                var that = this
                let callBack = function () { }
                if (NodeId == '24') {
                    for (let d of that.dataList) {
                        for (let v of d.value) {
                            if (v.Price == '' || v.Price == null) {
                                this.elementAlert('提示信息', '有实际单价未填')
                                return
                            }
                        }
                    }
                    let url = '/OfficeSuppliesPurchase/ModifyTable'
                    var param = []
                    for (let d of that.dataList) {
                        for (let v of d.value) {
                            param.push(v)
                        }
                    }
                    console.log(JSON.stringify(param))
                    that._postData(url, function (data) {
                        that.aggreSubmit({
                            "Id": this.tableInfo.Id,
                            "Remark": this.ruleForm.Mark
                        })
                    }, param)
                }
                else {
                    this.aggreSubmit({
                        "Id": this.tableInfo.Id,
                        "Remark": this.ruleForm.Mark
                    })
                }
            },
            returnBk() {
                let param = {
                    "Id": allData.Id,
                    "Remark": this.ruleForm.Mark
                }
                this.returnSubmit(param)
            },
            getBomInfo() {
                var that = this
                this._getData("/Purchase/ReadPurchaseTable", function (data) {
                    that.dataList = []
                    console.log('获取bom表')
                    for (let d of data) {
                        d['hello'] = '戴晓明'
                    }
                    console.log(data)
                    that.dataList = data
                }, { TaskId: TaskId, purchaseType: '零部件采购' })

                this._getData("Role/GetRoleInfo", function (data) {
                    that.purchaseMan = []
                    console.log('获取采购员信息')
                    console.log(JSON.stringify(data))
                    that.options = data
                }, { RoleName: "采购员" })
            }
        },
        created: function () {
            this.getNodeInfo()
            this.getApproInfo()
            this.getBomInfo()
            this.GetDingList(TaskId)
            loadHtml("mainPage", "partPage")
        }
    })
    getFormData()


    //获取审批表单信息
    function getFormData() {
        var url = "/FlowInfo/GetApproveInfo?TaskId=" + TaskId + "&ApplyManId=" + DingData.userid
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log("获取审批表单信息ok")
                console.log(url)
                console.log()
                //allData = data
                demo.tableInfo = data
            },
            error: function (err) {
                console.log(err);

            }
        })
    }

</script>



